.content
	include ../helpers/breadcrumbs
	
	.topper_title #{product.title}
	
	.gallery
		.gallery_footer
			.half.left
				.adorable_table
					.adorable_cell
						.top #{product.volume.volume} #{product.volume.postfix}
						.bottom #{product.volume.type}
			
			.half.right
				.adorable_table
					.adorable_cell
						.top #{product.age.title}
						if product.age.level < 12
							- var age = 'месяцев'
						else
							- var age = 'лет'
						.bottom #{age}
	
	.info
		.product_content
			.text !{product.text}
			.text_label Состав:
			.text #{product.composition}
			.text_label Условия хранения:
			.text #{product.storage_conditions}
			.text_label Рекомендации к употреблению:
			.text #{product.recommended}
		if product.certificate
			.certificates_container
				- each c, key in product.certificate
					.certificate.adorable_table
						.adorable_cell
							img(src = '/img/uploads/' + c.image, title = c.name)
			
		.catalog_button
			.adorable_table
				.adorable_cell
					a(href='/products')
							button.middle_button.darkblue.uppercase Вернуться в каталог