doctype html
html(lang="ru")
	head
		block header
			meta(charset="UTF-8")
			title= "Агуша | Административная панель"
			meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport')
			style.
				.preloader {
					z-index: 9999;
					position: fixed;
					width: 100%;
					height: 100%;
					background: white;
				}

				.loader {
					position: absolute;
					top: 30%;
					left: 40%;
					width: 20%;
					height: auto;
				}

	body.skin-blue
		preloader.preloader
			img.loader(src="/img/loader.gif")
		header.header
			a.logo(href="dashboard")= "АдминЬ-панель"
			nav.navbar.navbar-static-top(role="navigation")
				a.navbar-btn.sidebar-toggle(href="#" data-toggle="offcanvas" role="button")
					span.sr-only= "Toggle navigation"
					span.icon-bar
					span.icon-bar
					span.icon-bar
				.navbar-right
					ul.nav.navbar-nav
						li.dropdown.user.user-menu
							a.dropdown-toggle(href="#" data-toggle="dropdown")
								i.glyphicon.glyphicon-user
								span= user.username 
								i.caret
							ul.dropdown-menu
								li.user-footer
									.pull-left
										a.btn.btn-default.btn-flat(href="/admin/profile")= "Профиль"
									.pull-right
										a.btn.btn-default.btn-flat(href="/admin/logout")= "Выйти"
		.wrapper.row-offcanvas.row-offcanvas-left
			aside.left-side.sidebar-offcanvas
				section.sidebar
					ul.sidebar-menu
						li(class= (currentHref=='dashboard'?"active":""))
							a(href="dashboard")
								i.fa.fa-dashboard
								span= "Главная"
						li(class=(['products', 'ages', 'category', 'certificate'].indexOf(currentHref) > -1?'treeview active':'treeview'))
							a(href="#")
								i.fa.fa-th
								span Блоки продукта
								i.fa.fa-angle-left.pull-right
							ul.treeview-menu
								li(class= (currentHref=='products'?"active":""))
									a(href="/admin/products")
										i.fa.fa-angle-double-right
										span= "Продукты"
								li(class= (currentHref=='ages'?"active":""))
									a(href="/admin/ages")
										i.fa.fa-angle-double-right
										span= "Возраста"
								li(class= (currentHref=='category'?"active":""))
									a(href="/admin/category")
										i.fa.fa-angle-double-right
										span= "Категории"
								li(class= (currentHref=='certificate'?"active":""))
									a(href="/admin/certificate")
										i.fa.fa-angle-double-right
										span= "Сертификаты"
						li(class=(['contributions', 'themes', 'years', 'quizes'].indexOf(currentHref) > -1?'treeview active':'treeview'))
							a(href="#")
								i.fa.fa-th
								span Энциклопедия
								i.fa.fa-angle-left.pull-right
							ul.treeview-menu
								li(class= (currentHref=='contributions'?"active":""))
									a(href="/admin/contributions")
										i.fa.fa-angle-double-right
										span= "Статьи"
								li(class= (currentHref=='quizes'?"active":""))
									a(href="/admin/quizes")
										i.fa.fa-angle-double-right
										span= "Опросы"
								li(class= (currentHref=='themes'?"active":""))
									a(href="/admin/themes")
										i.fa.fa-angle-double-right
										span= "Темы"
								li(class= (currentHref=='years'?"active":""))
									a(href="/admin/years")
										i.fa.fa-angle-double-right
										span= "Возраста"
						li(class=(currentHref=='news'||currentHref=='articles'?'treeview active':'treeview'))
							a(href="#")
								i.fa.fa-th
								span Текстовые блоки
								i.fa.fa-angle-left.pull-right
							ul.treeview-menu
								li
									a(href="/admin/news")
										i.fa.fa-angle-double-right
										span Новости/акции
								li
									a(href="/admin/articles")
										i.fa.fa-angle-double-right
										span Статьи
						li(class=(currentHref=='consultation'?'active':''))
							a(href="/admin/consultation")
								i.fa.fa-th
								span Консультации
								small.badge.pull-right.bg-yellow(title="Открытых общественных консультаций")= consComm
								small.badge.pull-right.bg-red(title="Открытых консультаций для специалиста")= consSpec
						li(class=(currentHref=='clients'?'active':''))
							a(href="/admin/clients")
								i.fa.fa-th
								span Клиенты
						
						li(class=(currentHref=='tours'?'treeview active':'treeview'))
							a(href="#")
								i.fa.fa-th
								span Экскурсии
								i.fa.fa-angle-left.pull-right
							ul.treeview-menu
								li
									a(href="/admin/tours")
										i.fa.fa-angle-double-right
										span Список экскурсий
								li
									a(href="/admin/tour_records")
										i.fa.fa-angle-double-right
										span Список записавшихся
						
			aside.right-side
				block content

		block scripts
			script(
				src="/js/plugins/steal/steal.js" 
				config-path="/js/app/config.js"
				main="js/app/admin/core/core.coffee!"
				  )